{% extends "webapp/basic.html" %} {% block content %}
<text>Aggregated</text></br>
<text>Urban-Rural</text></br>
<head>
  {% load staticfiles %}

  <script type="text/javascript" src="{% static 'fusioncharts/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts-jquery-plugin.js' %}"></script>

</head>
<form method="POST" name="urbanruralForm" action="/nonquery/urbanrural/avgtripUR">
  {% csrf_token %}
  <select name="urbanrural" id="urbanrural" onchange="changeTextBox('urbanruralForm');">
    <option value="0" selected="selected">Choose an option</option>
    <option value="trippurposewhyto">Count of Trips based on Purpose</option>
    <option value="avgtrip" >Average Trip Miles</option>
    <option value="avgtripbystate">Average Trip Miles by State</option>
    <option value="avgtripbyrace" selected="true">Average Trip Miles by Ethnicity</option>
    <option value="avgtripbyincome">Average Trip Miles by Income</option>
    <option value="avgtriptimebystate">Average Trip Time by State</option>
    <option value="avgtriptimebyrace">Average Trip Time by Ethnicity</option>
    <option value="avgtriptimebyincome">Average Trip Time by Income</option>
  </select>
</form>
<div id="collapsible-panels">
  <h6><a href="1" id ="line-2009" title="Average Trip Miles by Ethnicity" x-axis="Ethnicity" y-axis="Average Trip Miles" type="line">Line Graph for 2009 data</a></h6>
  <div class="chart-render" id="line-2009-render"></div>
  <h6><a href="2" id ="line-2017" title="Average Trip Miles by Ethnicity" x-axis="Ethnicity" y-axis="Average Trip Miles" type="line">Line Graph for 2017 data</a></h6>
  <div class="chart-render" id="line-2017-render"></div>
  <h6><a href="3" id ="bar-2009" title="Average Trip Miles by Ethnicity" x-axis="Ethnicity" y-axis="Average Trip Miles" type="column2D">Bar Graph for 2009 data</a></h6>
  <div class="chart-render" id="bar-2009-render"></div>
  <h6><a href="4" id ="bar-2017" title="Average Trip Miles by Ethnicity" x-axis="Ethnicity" y-axis="Average Trip Miles" type="column2D">Bar Graph for 2017 data</a></h6>
  <div class="chart-render" id="bar-2017-render"></div>
</div>
<div class="table-container">
  <text>Average Miles bases on Ethnicity (2009)</text>
  <button class="download-button" onclick="exportTableToCSV('AvgTripMilesbyEthnicityUrbanRural2009.csv','#dataTable')">Click for CSV File</button>
  <table id="dataTable">
    <tr>
      <th>Ethnicity</th>
      <th>Urban</th>
      <th>Rural</th>
    </tr>
    {% for j,k in result %}
    <tr>
      <td>{{ethnicityV|get_item:j.hh_race}}</td>
      <td>{{j.trpmiles__avg}} miles</td>
      <td>{{k.trpmiles__avg}} miles</td>

    </tr>
    {% endfor %}
  </table>
</div>
<br></br>
<div class="table-container">
  <text>Average Miles bases on Race (2017)</text>
  <button class="download-button" onclick="exportTableToCSV('AvgTripMilesbyEthnicityUrbanRural2017.csv','#dataTable17')">Click for CSV File</button>
  <table id="dataTable17">
    <tr>
      <th>Ethnicity</th>
      <th>Urban</th>
      <th>Rural</th>
    </tr>
    {% for j,k in result17 %}
    <tr>
      <td>{{ethnicityV|get_item:j.hh_race}}</td>
      <td>{{j.trpmiles__avg}} miles</td>
      <td>{{k.trpmiles__avg}} miles</td>
    </tr>
    {% endfor %}
  </table>
</div>
<script type="text/javascript" src="{% static 'personal/js/functions.js' %}"></script>
{% endblock %}
