{% extends "webapp/basic.html" %} {% block content %}

<head>
  {% load staticfiles %}

  <script type="text/javascript" src="{% static 'fusioncharts/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
  <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts-jquery-plugin.js' %}"></script>
</head>
<text>Aggregated</text></br>
<text>Ethnicity</text></br>
<form method="POST" name="ethnicityForm" action="/nonquery/ethnicity/avgtriprace">
  {% csrf_token %}
  <select name="ethnicity" id="ethnicity" onchange="changeTextBox('ethnicityForm');">
  <option value="0" selected="selected">Choose an option</option>
  <option value="avgtrip">Average Trip Miles</option>
  <option value="avgtripbystate">Average Trip Miles by State</option>
<option value="avgtripbyincome">Average Trip Miles by Income</option>
  <option value="avgtriptime" selected="true">Average Trip Time</option>
  <option value="avgtriptimebystate">Average Trip Time by State</option>
<option value="avgtriptimebyincome">Average Trip Time by Income</option>

</select>
</form>
<div id="collapsible-panels">
  <h6><a href="1" id ="line-2009" title="Average Trip Time by Income" x-axis="Income" y-axis="Average Trip Time" type="line">Line Graph for 2009 data</a></h6>
  <div class="chart-render" id="line-2009-render"></div>
  <h6><a href="2" id ="line-2017" title="Average Trip Time by Income" x-axis="Income" y-axis="Average Trip Time" type="line">Line Graph for 2017 data</a></h6>
  <div class="chart-render" id="line-2017-render"></div>
  <h6><a href="3" id ="bar-2009" title="Average Trip Time by Income" x-axis="Income" y-axis="Average Trip Time" type="column2D">Bar Graph for 2009 data</a></h6>
  <div class="chart-render" id="bar-2009-render"></div>
  <h6><a href="4" id ="bar-2017" title="Average Trip Time by Income" x-axis="Income" y-axis="Average Trip Time" type="column2D">Bar Graph for 2017 data</a></h6>
  <div class="chart-render" id="bar-2017-render"></div>
</div>
<div class="table-container">
  <text>Average Trip Time based on Ethnicity (USA) 2009</text>
  <button class="download-button" onclick="exportTableToCSV('avgTripTimebyEthnicity2009.csv','#dataTable')">Click for CSV File</button>
  <table id="dataTable" style="width:100%">
    <tr>
      <th>Ethniciy</th>
      <th> Average Trip Time (in minutes)</th>

    </tr>

    {% for c in result %}
    <tr>
      <td>{{ethnicityV|get_item:c.hh_race}}</td>
      <td>{{c.trvlcmin__avg}} min </td>
    </tr>
    {% endfor %}
  </table>
</div>
<br></br>
<div class="table-container">
  <text>Average Trip Time based on Ethnicity (USA) 2017</text>
  <button class="download-button" onclick="exportTableToCSV('AvgTripTimebyEthnicity2017.csv','#dataTable17')">Click for CSV File</button>
  <table id="dataTable17" style="width:100%">
    <tr>
      <th>Ethniciy</th>
      <th> Average Trip Time (in minutes)</th>

    </tr>

    {% for c in result17 %}
    <tr>
      <td>{{ethnicityV|get_item:c.hh_race}}</td>
      <td>{{c.trvlcmin__avg}} min </td>
    </tr>
    {% endfor %}
  </table>
</div>
<script type="text/javascript" src="{% static 'personal/js/functions.js' %}"></script>
{% endblock %}
