{% extends "webapp/basic.html" %} {% block content %}
<text>Aggregated</text></br>
<text>Ethnicity</text></br>
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'fusioncharts/js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
	<script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
	<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts-jquery-plugin.js' %}"></script>
</head>
<form method="POST" name="ethnicityForm" action="/nonquery/ethnicity/avgtriprace">
	{% csrf_token %}
	<select name="ethnicity" id="ethnicity" onchange="changeTextBox('ethnicityForm');">
	  <option value="0" selected="selected">Choose an option</option>
	  <option value="avgtrip">Average Trip Miles</option>
	  <option value="avgtripbystate" selected="true">Average Trip Miles by State</option>
		<option value="avgtripbyincome">Average Trip Miles by Income</option>
	  <option value="avgtriptime">Average Trip Time</option>
	  <option value="avgtriptimebystate">Average Trip Time by State</option>
		<option value="avgtriptimebyincome">Average trip Time by Income</option>
	</select>
</form>
<div class="table-container">
<text>Average Miles based on State 2009</text>
<button class="download-button" onclick="exportTableToCSV('AvgTripMilebyStatebyEthnicity2009.csv','#dataTable')">Click for CSV File</button>
<table id="datatable">
	<tr>
		<th>State</th>
		<th>Race</th>
		<th>Average Miles</th>
	</tr>
	{% for j in result1 %}
	<tr>
		<td>{{j.hhstate}}</td>
		<td>{{ethnicityV|get_item:j.hh_race}}</td>
		<td>{{j.trpmiles__avg}} miles</td>
	</tr>
	{% endfor %}
</table>
</div>
<br></br>
<div class="table-container">
<text>Average Miles based on State 2017</text>
<button class="download-button" onclick="exportTableToCSV('AvgTripMilebyStatebyEthnicity2017.csv','#dataTable17')">Click for CSV File</button>
<table id="dataTable17">
	<tr>
		<th>State</th>
		<th>Race</th>
		<th>Average Miles</th>
	</tr>
	{% for j in result17 %}
	<tr>
		<td>{{j.hhstate}}</td>
		<td>{{ethnicityV|get_item:j.hh_race}}</td>
		<td>{{j.trpmiles__avg}} miles</td>
	</tr>
	{% endfor %}

</table>
</div>
<script type="text/javascript" src="{% static 'personal/js/functions.js' %}"></script>
{% endblock %}
