<!DOCTYPE html>
<html lang="en">

<head>
   	<title>Akash Rathore</title>
    {% load staticfiles %}
  <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
  <link type="text/css" href="{% static 'personal/css/style.css' %}" rel="stylesheet"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">


<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>NHTS Data Visualization</h3>
				  <a href="{% static 'personal/Codebook.pdf'%}" target="_blank"> Take a look at Codebook here</a>
				  </center>
			  </div>
		</div><hr>

<div id ="content">

{% block content%}
{% endblock%}
</div>
<form name="index", id="index" action="/">
<input type="submit" class="button" id ="submit" value="Restart">
</form>
</body>
</html>
