{% extends "webapp/basic.html" %}

{% block content %}
<text>Aggregated</text></br>
<text>Urban-Rural</text></br>
<head>
    {% load staticfiles %}

	<script type="text/javascript" src="{% static 'fusioncharts/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
	<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts-jquery-plugin.js' %}"></script>
</head>
<form method="POST" name="urbanruralForm" action="/nonquery/urbanrural/avgtripUR">
{% csrf_token %}
	<select name="urbanrural" id="urbanrural" onchange="changeTextBox('urbanruralForm');">
  <option value="0">Choose an option</option>
  <option value="trippurposewhyto" selected="true">Count of Trip based on Purpose</option>
  <option value="avgtrip">Average Trip Miles</option>
  <option value="avgtripbystate">Average Trip Miles by State</option>
<option value="avgtripbyrace">Average Trip Miles by Ethnicity</option>
<option value="avgtripbyincome">Average Trip Miles by Income</option>
<option value="avgtriptimebystate">Average Trip Time by State</option>
<option value="avgtriptimebyrace">Average Trip Time by Ethnicity</option>
<option value="avgtriptimebyincome">Average Trip Time by Income</option>

</select>
</form>

<text>Trip Purpose Comparison Urban-Rural (2009)</text>
<button class="download-button" onclick="exportTableToCSV('TripPurposeCountUrbanRural2009.csv','.dataTable')">Click for CSV File</button>
<table class="dataTable">
<tr>
<th>Trip Purpose</th>
<th>Urban</th>

</tr>
{% for j in result1 %}
<tr>
<td>{{j.whyto}}</td>
<td>{{j.whyto__count}} </td>
</tr>
{% endfor %}
</table>
<hr>
<table class="dataTable">
<tr>
<th>Trip Purpose</th>
<th>Rural</th>

</tr>
{% for j in result2 %}
<tr>
<td>{{j.whyto}}</td>
<td>{{j.whyto__count}} </td>
</tr>
{% endfor %}
</table>
<text>Trip Purpose Comparison Urban-Rural (2017)</text>
<button class="download-button" onclick="exportTableToCSV('tripPurposseCountUrbanRural2017.csv','.dataTable17')">Click for CSV File</button>
<table class="dataTable17">
<tr>
<th>Trip Purpose</th>
<th>Urban</th>

</tr>
{% for j in result117 %}
<tr>
<td>{{j.whyto}}</td>
<td>{{j.whyto__count}} </td>
</tr>
{% endfor %}
</table>
<hr>
<table class="dataTable17">
<tr>
<th>Trip Purpose</th>
<th>Rural</th>

</tr>
{% for j in result217 %}
<tr>
<td>{{j.whyto}}</td>
<td>{{j.whyto__count}} </td>
</tr>
{% endfor %}
</table>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'personal/js/functions.js' %}"></script>
{% endblock %}
